.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-log-off{
  height:20px;
}

.login-page-1-1{
    display: flex;
    justify-content: center;
}
.login-page-1-2{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-page-2-1{
    display: flex;
    justify-content: center;
}
.login-page-2-2{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image-user-1{
  width:3%;
  margin-bottom: 6px;
}

.image-user-2{
  width:6%;
  margin-bottom: 6px;
}

.login-page-images-aligner-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-page-images-aligner-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-page-1-3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.login-page-1-4{
  display: flex;
  flex-direction: column;
}

.bloc-verif-adresse-mail-3,.bloc-verif-adresse-mail{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.bloc-verif-adresse-mail-2,.bloc-verif-adresse-mail-4{
  width:30%;
}

.bloc-demander-code-pour-changer-mdp,.bloc-changer-mdp-avec-actuel,.bloc-changer-mdp-avec-actuel{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.bloc-demander-code-pour-changer-mdp-2,.bloc-changer-mdp-avec-actuel-2,.bloc-changer-mdp-avec-actuel-2{
  width:70%;
}



